.header{
    padding: 10px;
        display:flex;
        background-color: pink;
        justify-content: space-between;

        color:white;
    }
    .footer{
        background-color:silver;
        color:white;
    }
    .menu li{
        list-style: none;
        margin:5px;
    }
    .container{
        margin:0px;
    }
    .menu{
        display:flex

    }
    .menu li a{
        text-decoration: none;
        color:white
    }