.p{
    display:flex;
    gap:40px;
    align-items: flex-start;
    
}
.name{
    text-align: center;
    color:pink;
  

}
.main{
    border: skyblue,solid,5px;
    background-color: brown;
}
.pic{
    border:black solid 5px;
    align-items: flex-start;
   
   
}
.name ul{
    display:inline-block;
       border: black solid 5px;
      
    text-align:center; 
    list-style-position: inside;
    padding:10px;
    gap: 5px;
      
   
}
.name li{
    text-align: center;
     gap: 10px;

}

pre{
font-size: large;
    color: azure;
    border: black solid 5px;
}
